<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
    <title>
        {%  block title %}
            marketplace_of_ct
        {% endblock %}
    </title>

    {%  block common_styles %}
          {%  load static %}
            <link rel="stylesheet" href="{%  static 'uikit-3.11.1/css/uikit.min.css' %}">
            <link rel="stylesheet" href="{%  static 'uikit-3.11.1/css/uikit-rtl.min.css' %}">
            <link rel="stylesheet" href="{%  static 'css/base.css' %}">

            <style>
            </style>
        {% endblock %}

    {% block extra_styles %}
    {% endblock %}


    </head>

<body>
    {% block nav_bar %}
      {% include 'base_templates/nav_bar.html' %}
    {%  endblock %}
    {% block main_content %}

    {%  endblock %}

 {%  block common_scripts %}
          {% load static %}
            <script src="{%  static 'uikit-3.11.1/js/uikit.min.js' %}"></script>
            <script src="{%  static 'uikit-3.11.1/js/uikit-icons.min.js' %}"></script>
 {% endblock %}

</body>
</html>