{#<div class="uk-background-secondary uk-section-primary uk-width-1-1 uk-padding-xsmall uk-flex uk-flex-center#}
{#uk-flex-middle" uk-sticky>#}
{#  <nav class="uk-width-11-12  " uk-navbar>#}
{#      <div class="uk-navbar-left" id="logo_name">#}
{#          <ul class="uk-navbar-nav">#}
{#              <li> <a class="uk-logo" href="">Маркетплейс сотовых операторов</a> </li>#}
{#              <li><a class="" href="">Подобрать тариф</a></li>#}
{#          </ul>#}
{#      </div>#}
{#  </nav>#}
{#</div>#}

<div uk-sticky class="uk-background-secondary  uk-section-secondary uk-width-1-1 uk-flex uk-flex-center
uk-flex-middle uk-sticky" >
  <div class="uk-width-11-12" uk-navbar >
      <div class="uk-navbar-left" id="logo_name">
          <a class="uk-logo uk-navbar-item" href="/">Маркетплейс сотовых операторов</a>
          <ul class="uk-navbar-nav no-min-height">
              <li><a class="uk-navbar-item" href="/tariffs">Подобрать тариф</a></li>
          </ul>
      </div>
      <div class="uk-navbar-right">
          <a class="uk-navbar-item" href="/registration">Войти в аккаунт</a>
      </div>
  </div>
</div>

{#<div class="uk-width-1-1 uk-padding-xsmall uk-flex uk-flex-center#}
{#uk-flex-middle" uk-sticky>#}
{#    <nav class=" uk-width-11-12 uk-navbar-container" uk-navbar>#}
{##}
{#        <div class="uk-navbar-left">#}
{##}
{#            <a class="uk-logo" href="#">Маркетплейс сотовых операторов</a>#}
{#            <ul class="uk-navbar-nav">#}
{#                <li><a class="" href="#">Подобрать тариф</a></li>#}
{#            </ul>#}
{##}
{#        </div>#}
{##}
{#    </nav>#}
{#</div>#}