{% url 'profile' as my_profile_url %}
{% url 'logout' as logout_url %}
{% url 'login' as login_url %}

{#<div class="uk-background-secondary uk-section-primary uk-width-1-1 uk-padding-xsmall uk-flex uk-flex-center#}
{#uk-flex-middle" uk-sticky>#}
{#  <nav class="uk-width-11-12  " uk-navbar>#}
{#      <div class="uk-navbar-left" id="logo_name">#}
{#          <ul class="uk-navbar-nav">#}
{#              <li> <a class="uk-logo" href="">Маркетплейс сотовых операторов</a> </li>#}
{#              <li><a class="" href="">Подобрать тариф</a></li>#}
{#          </ul>#}
{#      </div>#}
{#  </nav>#}
{#</div>#}

<div uk-sticky class="uk-background-secondary  uk-section-secondary uk-width-1-1 uk-flex uk-flex-center
uk-flex-middle uk-sticky" >
  <div class="uk-width-11-12" uk-navbar >
      <div class="uk-navbar-left" id="logo_name">
          <a class="uk-logo uk-navbar-item" href="/">Маркетплейс сотовых операторов</a>
          <ul class="uk-navbar-nav no-min-height">
              <li><a class="uk-navbar-item" href="/tariffs">Подобрать тариф</a></li>
          </ul>
      </div>
      <div class="uk-navbar-right">
          {%  if is_authenticated %}
              <div class="uk-navbar-item">
                <a uk-tooltip="title: Профиль;" href="/profile/" uk-icon="icon: user; ratio: 1"></a>
              </div>
              <div class="uk-navbar-item">
                <a uk-tooltip="title: Выйти;" href="{{ logout_url }}?next=/" uk-icon="icon: sign-out; ratio: 1"></a>
              </div>
          {%  else %}
            <div class="uk-navbar-item">
              <a uk-tooltip="title: Войти;" href="{{ login_url }}" uk-icon="icon: sign-in; ratio: 1"></a>
            </div>
          {% endif %}
      </div>

  </div>
</div>

{#<div class="uk-width-1-1 uk-padding-xsmall uk-flex uk-flex-center#}
{#uk-flex-middle" uk-sticky>#}
{#    <nav class=" uk-width-11-12 uk-navbar-container" uk-navbar>#}
{##}
{#        <div class="uk-navbar-left">#}
{##}
{#            <a class="uk-logo" href="#">Маркетплейс сотовых операторов</a>#}
{#            <ul class="uk-navbar-nav">#}
{#                <li><a class="" href="#">Подобрать тариф</a></li>#}
{#            </ul>#}
{##}
{#        </div>#}
{##}
{#    </nav>#}
{#</div>#}