
<div class="uk-card uk-card-default uk-margin-medium-bottom uk-padding-medium">
    <div class="uk-card-header">
        <div class="uk-card-title"> <h3> <b>{{ forloop.counter }}</b>. Тариф "{{ tariff.name }}"</h3></div>
    </div>
    <div class="uk-card-body ">
        <div  uk-grid class="uk-grid-match uk-child-width-1-4 uk-text-center uk-text-middle uk-text-bolder uk-text-large ">
            <div class="uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">{{ tariff.cost }} &#8381;</div>
            </div>
            <div class="uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">Минуты: <br>{{ tariff.minutes }}</div>
            </div>
            <div class="uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">Гигабайты: <br>{{ tariff.internet }}</div>
            </div>
            <div class="uk-padding-small">
                <div class="uk-card uk-card-default uk-card-body">Сообщения: <br>{{ tariff.messages }}</div>
            </div>
        </div>
    </div>
    <div class="uk-card-footer">
        <a href="/tariff/{{ tariff.id }}">Подробнее >></a>
    </div>

</div>