{% extends 'base_templates/base.html' %}

{% block title %}
  Главная
{% endblock %}


{%  block main_content %}

    <div uk-margin class="uk-card-title ">
        <h1 class="uk-text-center">Добро пожаловать на маркетплейс сотовых операторов!</h1>
        <h2 class="uk-text-center">Нажав по кнопке ниже, вы сможете подобрать себе тариф.</h2>
    </div>
    <div uk-margin class="uk-card">
        <a class="uk-button uk-button-secondary uk-button-large uk-align-center" href="#">Подобрать тариф.</a>
    </div>


{% endblock %}