{% extends 'base_templates/base.html' %}

{% block title %}
  Смена пароля
{% endblock %}

{% block main_content %}

    <div class="uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
      <div class="fit-content">
        <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="uk-margin-bottom">

          {% csrf_token %}
          <fieldset class="uk-padding-small">
              <div class="uk-margin">
                <label class="uk-form-label">Старый пароль</label>
                <input class="uk-input" type="password" name="old_password">
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Новый пароль</label>
                <input class="uk-input" type="password" name="new_password">
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Повторите новый пароль</label>
                <input class="uk-input" type="password" name="rep_new_password">
              </div>

              <div class="uk-margin">
                <div class="uk-inline uk-margin-medium-right">
                  <input class="uk-button uk-button-secondary" type="submit" value="Сохранить">
                </div>
                <div class="uk-inline">
                  <a href="/profile/">Отмена</a>
                </div>
              </div>
          </fieldset>

          {% if form.errors %}
            <div>
              Возникла ошибка при попытке регистрации
              <br>
              Возможные причины:
              <ul>
                {% if form.errors.old_password %}
                  <li>Старый пароль введён некорректно</li>
                {% endif %}
                {% if form.errors.new_password %}
                  <li>Новый пароль не отличается от старого</li>
                {% endif %}
                {% if form.errors.rep_new_password %}
                  <li>Новые пароли не совпадают</li>
                {% endif %}
                <li>Не все поля заполнены</li>
              </ul>
            </div>
          {% endif %}
        </form>
      </div>
    </div>

{% endblock %}
