{% extends 'base_templates/base.html' %}
{% load static %}

{% block title %}
  Профиль
{% endblock %}


{% block extra_styles %}
  <link rel="stylesheet" href="{%  static 'css/profile.css' %}">
{% endblock %}

{% block main_content %}

  <div class="profile-header uk-flex-wrap uk-flex uk-flex-middle uk-flex-around uk-width-1-1">
    {% load static %}
    <div class="page_owner-information break-word uk-width-1-3@xl uk-width-5-6">
      <div>
        <h1 class="uk-margin-small-top">
            {{ page_owner.user.first_name }} {{ page_owner.user.last_name }} {{ page_owner.patronymic }} <a uk-tooltip="title: Редактировать профиль;" href="{% url 'edit_page' %}" uk-icon="icon: pencil; ratio: 1.5"></a>
        </h1>
      </div>

      <div>
          <ul class="profile-ul">
              <li>Номер телефона: {{ page_owner.telephone_number }}</li>
              <li>email: {{ page_owner2.email }}</li>
            {% if page_owner.date_of_birth %}
              <li>Дата рождения: {{ page_owner.date_of_birth }}</li>
            {% endif %}
            {% if page_owner2.date_joined %}
              <li>На сайте с: {{ page_owner2.date_joined }}</li>
            {% endif %}
          </ul>
      </div>

    </div>

  </div>
  <hr>

    {% if tariffs %}
    <h2>
      Ваши избранные тарифы:
    </h2>
    <br>
    {% for tariff in trariffs %}

    {% endfor %}
    {% else %}
    <h2>
      Вы не добавили ни один тариф в избранное.
    </h2>
    {% endif %}

{% endblock %}


