{% extends 'base_templates/base.html' %}

{% block title %}
  Главная
{% endblock %}


{%  block main_content %}
    <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-1 uk-align-center">
            <div class=" ">
                <h1 class=" ">Тариф "{{ tariff.name }}"</h1>
                {%  load static %}
                <img class="uk-border-circle" width="40" height="40" src= "{%  static tariff.operator.icon.url %} ">
                <a href="{{ tariff.operator.website_link }}" class="uk-margin-small-left">{{ tariff.operator.name }}</a>
            </div>
        </div>
    </div>

{% endblock %}